<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="css/common.css">
</head>
<body>
    <div class="navbar">
        <div class="navbar-brand">Dreamstar Cyber</div>
        <div class="navbar-links" style="display: flex; justify-content: flex-end;"></div>
            <a href="#">Detection Engineering</a>
            <a href="#">Cybersecurity</a>
            <a href="#">Sysadmin</a>
        </div>
    </div>
    <div class="container">
        <h1>Welcome to our website!</h1>
        <p>Thank you for visiting.</p>
    </div>
</body>
</html>
